<ion-header>
  <ion-toolbar color="success">
    <ion-title >Discover Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-row>
      <ion-col class="ion-text-center" >
        <ion-virtual-scroll
          [items]="listedGames"
          approxItemHeight="70px"
        >
          <ion-item
            [routerLink]="['/', 'games', 'pages', 'discover', game.id]"
            detail
            *virtualItem="let game"
          >
          <ion-card>
            <img [src]="game.imageUrl" />
            <ion-card-header>
              <ion-card-title>{{game.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{game.description}}
            </ion-card-content>
          </ion-card>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>

</ion-content>
